* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

/* Header section */
header {
  padding: 80px 120px;
}
nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li a {
  color: #3a3a3a;
  text-decoration: none;

}
nav li a:hover{
  box-shadow: 0 -3px 0px orangered inset;
}
.burger{
  display: none;
}

.left-head {
  display: flex;
  align-items: center;
}
.nav-title {
  color: #131318;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
}
.nav-element {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid blue; */
}
.nav-element li {
  margin-right: 34px;
  list-style: none;
  font-size: 1rem;
  font-weight: 600;
}
.hamburger {
  display: none;
  width: 30px;
  height: 25px;
}
.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}
/* Explore Section */
.first-bg h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.first-bg p {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 3.5rem;
}
.explore-input {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  justify-content: center;
  padding: 16px;
  margin: 0px 2rem 0 2rem;
}
.first-bg {
  border-radius: 16px;

  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 160px;
}
.explore-section {
  max-width: 65%;
  margin: 50px auto;
}
.info-input input {
  justify-content: center;
  text-align: center;
  margin-right: 2rem;
  padding: 15px;
  border-radius: 8px;
}
.info-input {
  justify-content: center;
  border-radius: 8px;
  padding: 16px 30px;
  border: none;
}
/* Primary Button */
.btn-primary {
  border: none;
  padding: 16px 34px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}
/* Our Popular Tour */

.tour-info h3,
p,
ul {
  margin-bottom: 24px;
}
.tour-info h3 {
  color: #131318;
  text-align: left;
  font-size: 2.5rem;
  font-weight: 800;
}
.tour-info p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
}
.tour-info ul > li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  margin-left: 1.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.our-tour {
  display: flex;
  margin: 6rem;
  gap: 53px;
  padding: 80px 120px;
}
/* Destnation Section  */
.row {
  position: relative;
  text-align: center;
  height: 300px;
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.row img {
  width: 100%;
  height: 100%;
}

.row img {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
}
.ma-bap {
  text-align: center;
  margin: 6.25rem 15rem;
}

.destination-info h3 {
  color: #131318;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.destination-info p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 3rem;
}
.first-img {
  position: relative;
}
.img-box{
  position: relative;
  flex: 1;
  margin: 10px;
}
.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Adjust the color as needed */
  font-size: 2rem; /* Adjust the font size as needed */
  text-align: center; /* Center text horizontally within the container */
}

.image-box img {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
}
.image-box {
  position: relative;
  flex: 1;
  margin: 10px;
}
.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
font-size: 1.75rem;
font-weight: 800;
}

.image-box img {
  width: 100%;
  height: auto;
}


.image-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}



/* Why Choose Us */

.why-choose-us{
  color: #131318;
text-align: center;
font-size: 2.5rem;
font-weight: 800;
}
.gray-color{
  color: rgba(19, 19, 24, 0.70);
font-size: 1rem;
font-weight: 400;
}
.why-choose {
  text-align: center;
  margin: 0 10rem;
}

.hand-picked-hotels {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 32px;
  text-align: left;
}
.world-class-service {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  text-align: left;
  padding: 32px;
}
.hand-picked {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.best-price {
  text-align: left;
  padding: 32px;
  max-width: 573px;
  margin: 0 auto;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
/* Discount Section */
.discounts{
  text-align: center;
  margin-top: 1.5rem;
  margin: 10%;
}
.image-one {
  background: url("../Images/Group\ 39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 16px;
  padding: 5%;
  margin-bottom: 1.5rem;
}
.image-two {
  background: url("../Images/Group\ 40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 16px;
  padding: 5%;
  margin-bottom: 1.5rem;


}
.image-three {
  background: url("../Images/Group\ 39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 16px;
  padding: 5%;
  margin-bottom: 1.5rem;


}
.transparent{
border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
margin: 3.5rem 3.5rem 3.5rem 33.4rem;
padding: 5%;
text-align: left;
}

.same-deg{
  color: #131318;
font-size: 1.5rem;
font-weight: 800;
margin-bottom:1rem ;
}
.price{
  color: #FF5400;
font-size: 1.25rem;
font-weight: 800;
margin-bottom: 1.5rem;
}
.discounts  > div > h2{
  color: #131318;
text-align: center;
font-size: 2.5rem;
font-weight: 800;
}
.discounts > div > p{
  color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 1rem;
font-weight: 400;
}
.jaiga-banao{
  display: flex;
  gap: 1rem;
  margin-right: 1.5rem;
  text-align: center;
}
.soja-koro{
  display: flex;
  text-align: center;
  margin-right: 10px;
}





/* Simple Perfect */
.simple-perfect{
  display: flex;
  margin: 0px 8rem;
  padding-left: 5%;
  gap: 1.5rem;
}
.simple-perfect > div > h2{
  color: #131318;
font-size: 2.5rem;
font-weight: 800;
}

/* NewsLetter Section */
.News-letter{
  display: flex;
  text-align: left;
  justify-content: center;
  margin: 6.25rem;
  gap: 2rem;
}
.news-description{
  border-radius: 16px;
border: 1px solid #FF5400;
padding: 3%;

}
.input-field input{
  display: block;
  padding: 16px 250px 16px 25px;
  border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
margin-bottom: 1.25rem;
border: none;
}
#Sub-btn{
  width: 100%;
}
.news-description > h3{
  color: #131318;
font-size: 1.5rem;
font-weight: 800;
margin-bottom: 1rem;
}
.discount-image{
position: relative;
}
.discount-image img{
  width: 100%;
  height: 100%;
}
.upore {
  position: absolute;
  bottom: 0;
  left: 0;
  /* width: 100%; */
  transform: rotate(-25deg); /* Rotates text 45 degrees */
  top: 70%;
  left: 62%;
  bottom: 11%;
  /* transform-origin:right bottom; Sets rotation origin */
  /* color: white; */
  /* padding: 10px; */
  /* text-align: center; */
}
/* Footer Section */
footer{
  background: rgba(19, 19, 24, 0.05);
  text-align: center;
  padding:  110px 284px;
}
.foot-pp{
  margin-top: 4.5rem;
  color: #131318;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
font-weight: 300;
}
.foot-p{
  margin-top: 15px;
  margin-bottom: 33px;
  color: #5A5A5D;
text-align: center;
font-size: 1rem;
font-weight: 400;
}
.fa-brands{
  font-size: 3rem;
  margin-right: 1.5rem;
  margin-bottom: 2.5rem;
}

/* * Mobile Screen */ 
@media screen and (max-width: 600px) {
  .our-tour {
    display: block;
    width: 70%;
    padding: 0px;
    gap: 20px;
  }
  .simple-perfect{
    margin: 0 auto;
    padding: 19px;
  }
  .video-container {
    position: relative;
    width: 100%;
    max-width: 560px; 
    padding-bottom: 56.25%; 
    height: 0; 
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
    .transparent{
    margin:  11.6rem 1rem 1rem 1rem;
  }
  .tour-bg-img {
    margin-top: 2rem;
    width: 100%;
  }
  .image-row,.nav-element,.soja-koro, .simple-perfect, .News-letter{
    display: block;
  }
  .upore{
    transform: rotate(-20deg);
  }
  .explore-input > input{
    margin-bottom: 10px;
  }
  .input-field input{
    width: 10%;
  }
  .news-description{
    margin-bottom: 1.5rem;
  }
  .upore h2{
    padding-bottom: 20px;
  }
  .okok{
    font-size: 60%;

  }
  .hand-picked {
    display: block;
  }
  .first-bg h1 {
    font-size: 1.5rem;
  }
  .first-bg {
    display: block;
    padding: 20px;
  }
  .why-choose {
    margin: 1rem 2rem;
  }
  .hand-picked-hotels {
    margin-bottom: 1rem;
  }
  .nav-element ul {
    margin-top: 20px;
  }
  .ma-bap {
    margin: 5rem 8rem;
  }
  .row {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .burger{
    margin-left: 100%;
    display: flex;
  }
  .the-list{
    display: none;
  }
  footer{
    padding: 33px 44px;

  }
}
